<link rel="stylesheet" href="/css/cookiesPopup.css" nonce="{{context.settings.cspNonce}}">
<div id="cookies-popup" class="shadow-lg">
  <div class="">
    <h2>{{cookiesText.cookiesPopupText}}<a href="">{{cookiesText.termsAndConditions}}</a></h2>
    <button type="submit" id="cookies-popup-submit">✖</button>
  </div>
</div>
<script src="/js/cookiesPopup.js" nonce="{{context.settings.cspNonce}}"></script>