<link rel="stylesheet" href="/css/chat.css">

<script>
  activeChat = ""

  const scrollToBottom = (id) => {
    const element = document.getElementById(id);
    element.scrollTop = element.scrollHeight;
  }

  scrollToBottom("chat-id")
  function sendMessage() {
    roomsCol = document.getElementById("rooms")
    chatCol = document.getElementById("chat-col")

    roomsCol.style.display = ""
    roomsCol.style.visability = ""

    chatCol.style.display = ""
    chatCol.style.visability = ""
  }

  function changeChat() {

  }

  function movetoRooms() {

    roomsCol = document.getElementById("rooms")
    chatCol = document.getElementById("chat-col")

    roomsCol.style.display = ""
    roomsCol.style.visability = ""

    chatCol.style.display = ""
    chatCol.style.visability = ""

  }

  function moveToChat(id) {
    chatDivs = document.getElementsByClassName("chat")

    for (let i = 0; i < chatDivs.length; i++) {
      if (chatDivs[i].id == id) {
        roomsCol.style.display = ""
        roomsCol.style.visability = ""
      }
      else {
        roomsCol.style.display = ""
        roomsCol.style.visability = ""
      }
    }

  }

  window.addEventListener('load', async function () {

    async function populateSubjects() {
      try {
        res = await axios.get('/get/validSubject')
        let arr = res.data.sort((a, b) => { return a.localeCompare(b, userLang) })
        subjectArr = arr
        for (let i = 0; i < arr.length; i++) {
          node = document.createElement("li");
          node.innerHTML = `<div class="subject-li" onclick='setSubject("${arr[i]}")''>${arr[i]}</div>`;
          document.getElementById("subject-box").appendChild(node);
        }
        return arr
      }
      catch (err) {
      }
    }

    async function populateSpecialities(subjects) {
      async function appendSpec(subject) {
        res = await axios.get(`/get/validSpecialities/${subject}`)
        specArr = [];
        if (res.data) {
          specArr = res.data.sort((a, b) => { return a.localeCompare(b, userLang) })
        }
        else {
          specArr = ""
        }
        specialitiesObj[`${subject}`] = specArr
      }
      try {
        for (i = 0; i < subjects.length; i++) {
          appendSpec(subjects[i])
        }
      }
      catch (err) {
      }

    }
    subjects = await populateSubjects()
    populateSpecialities(subjects)

    //populate taughtin
    arr = languageArr.sort((a, b) => { return a[0].localeCompare(b[0], userLang) })
    for (let i = 0; i < arr.length; i++) {
      langPair = arr[i].split(",")
      node = document.createElement("div");
      node.innerHTML = `
                    <input class="form-check-input w-20p mr-5p" type="checkbox" id="${langPair[0]}" name="${langPair[0]}" onclick='setTaughtIn()'></input>
                    <label class="form-check-label text-dark" for=${langPair[0]}>${langPair[0]}</label><br>`;
      document.getElementById("taughtIn-list").appendChild(node);
    }


    //populate chats
    timeRange = document.getElementById("timeRange-popup-rows")
    for (let i = 0; i <= 6; i++) {
      outerDiv = document.createElement("div");
      outerDiv.className = "row container d-flex align-items-center justify-content-center px-0 w-255p p-0 m-0 pb-3";
      dayVal = document.createElement("div");
      dayVal.className = "day-div px-0"
      dayVal.innerHTML = `${days[i]}`;
      outerDiv.appendChild(dayVal);
      for (let j = 0; j <= 23; j++) {
        innerDiv = document.createElement("div");
        innerDiv.className = "container d-flex align-items-center justify-content-center time-slot-div px-0";
        innerDiv.innerHTML = `${j} - ${j + 1}`;
        innerDiv.id = `${j}-${j + 1}_${days[i]}`;
        innerDiv.onclick = function () { setTimeRange(`${j}-${j + 1}_${days[i]}`) }
        outerDiv.appendChild(innerDiv);
      }
      timeRange.appendChild(outerDiv);
    }


  })



</script>


<section style="background-color: #eee; margin-top: -30px;  ">
  <div class="pt-3 px-3">

    <div class="row d-flex justify-content-around">

      <div class="col m-1 dispr-mx-442p" id="rooms">

        <div class="card">
          <div class="card-body">

            <ul class="list-unstyled mb-0">
              <li class="p-2 border-bottom" style="background-color: #eee;">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">John Doe</p>
                      <p class="small text-muted">Hello, Are you there?</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Just now</p>
                    <span class="badge bg-danger float-end">1</span>
                  </div>
                </a>
              </li>
              <li class="p-2 border-bottom">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-1.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">Danny Smith</p>
                      <p class="small text-muted">Lorem ipsum dolor sit.</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">5 mins ago</p>
                  </div>
                </a>
              </li>
              <li class="p-2 border-bottom">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">Alex Steward</p>
                      <p class="small text-muted">Lorem ipsum dolor sit.</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Yesterday</p>
                  </div>
                </a>
              </li>
              <li class="p-2 border-bottom">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">Ashley Olsen</p>
                      <p class="small text-muted">Lorem ipsum dolor sit.</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Yesterday</p>
                  </div>
                </a>
              </li>
              <li class="p-2 border-bottom">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">Kate Moss</p>
                      <p class="small text-muted">Lorem ipsum dolor sit.</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Yesterday</p>
                  </div>
                </a>
              </li>
              <li class="p-2 border-bottom">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">Lara Croft</p>
                      <p class="small text-muted">Lorem ipsum dolor sit.</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Yesterday</p>
                  </div>
                </a>
              </li>
              <li class="p-2">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">Brad Pitt</p>
                      <p class="small text-muted">Lorem ipsum dolor sit.</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">5 mins ago</p>
                    <span class="text-muted float-end"><i class="fas fa-check" aria-hidden="true"></i></span>
                  </div>
                </a>
              </li>
            </ul>

          </div>
        </div>

      </div>

      <div class="col m-1 p-0" id="chat-col">

        <div style="height: 87vh;">
          <div class="chat-profile" class="m-0 p-4 ">
            <div class="p-0 w-100" style="display: inline-flex !important; height: 40px;" href="/profile/1212">

              <div class="apr-mx-442p p-0 d-flex align-items-center mx-3" onclick="movetoRooms()"
                class="apr-mx-442p p-0" onclick="movetoRooms()"
                style="display: inline-flex !important; width: 50px; height: 40px; font-size: 18px;">back
              </div>

              <div style="height: 40px;" class="d-flex align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                  class="rounded-circle  ml-0 shadow-1-strong" style="display: inline-flex !important;" width="35">
              </div>
              <div class="profile-name  p-1 pl-3 d-flex align-items-center" id="profile-name-id">Brad Pit</div>

              <div class="contact-options" id="contact-options-id">
                <div class="vert-ilip">⋮</div>
              </div>

            </div>
          </div>

          <ol id="chat-id" class="list-unstyled m-0 chat p-2 py-2">

            <li class="message-box userMessage">
              <div class="card">
                <div class="card-body p-1">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
                <div class="card-header d-flex justify-content-between px-3 py-0">
                  <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                </div>
              </div>
            </li>
            <li class="message-box contact-message">
              <div class="card">
                <div class="card-body">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
                <div class="card-header d-flex justify-content-between px-3 py-0">
                  <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                </div>
              </div>
            </li>
            <li class="message-box">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
              <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                  <p class="fw-bold mb-0">Brad Pitt</p>
                  <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </li>

          </ol>

          <div class="p-2 m-0 send-message-box row">
            <div class="p-0 m-0"
              style="display: inline-flex !important; width: calc(100% - 80px) !important; margin-top: 0px !important;">
              <textarea class="message-textarea" maxlength="1024" style="" rows="2"></textarea>
            </div>
            <div class="m-0 p-0" style="width: 70px; display:inline-flex; margin-left: 10px !important;">
              <button type="button" class="btn btn-light send-message-button">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
  integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="/js/chat.js"></script>