<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<meta name="theme-color" content="#7952b3">

<link rel="stylesheet" href="/css/learnLandingPage.css"nonce="{{context.settings.cspNonce}}">

<script src="/js/learnLandingPage.js"  nonce="{{context.settings.cspNonce}}"></script>


<main class="bg-eee p-20pi ">
  <div id="landing-page-search-bar w-100">
    <div class="d-flex align-items-center justify-content-center flex-column gap-4 h-90vh">
      <div class="d-flex w-70 mx-w-400p">
        <input id="search-bar-search-input" class="form-control me-1 h-40p" type="search"
          placeholder="search subjects, specialities, or courses" aria-label="Search">
        <button id="search-button" class="btn btn-outline-primary ml-10p h-45p w-55p mt--2-5pi" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="subject-list" class="row d-flex align-items-center justify-content-center w-100 m-0 p-0 ">
    <div id="subject-header" class="row align-items-center justify-content-center list-header display-nonei">
      Subjects
    </div>
  </div>

  <div id="speciality-list" class="row d-flex align-items-center justify-content-center w-100 m-0 p-0">
    <div id="specialities-header" class="row align-items-center justify-content-center list-header display-nonei">
      Specialities
    </div>
  </div>

  <div id="course-name-list" class="row d-flex align-items-center justify-content-center w-100 m-0 p-0">
    <div id="courses-header" class="row align-items-center justify-content-center list-header display-nonei">
      Courses
    </div>
  </div>
</main>