.h-40p {
  height: 40px !important;
}

.h-60p {
  height: 60px !important;
}

.w-50p {
  width: 50px !important;
}

.fs-18p {
  font-size: 18px !important;
}

.w-70p {
  width: 70px !important;
}

.h-87vh {
  height: 87vh;
}

.h-90vh {
  height: 90vh;
}

.overflow-y-hidden {
  overflow-y: hidden;

}

.w-100-80p {
  width: calc(100% - 80px) !important;
}

.active-room {
  background-color: blue !important;
}

.active-chat {
  display: block !important;
  visibility: visible !important;
}

.ml-10p {
  margin-left: 10px !important;
}

.appear {
  display: block !important;
  visibility: visible !important;
}



.disappear {
  display: none !important;
  visibility: hidden !important;
}

.vert-ilip {
  font-size: 25px;
  font-weight: 405px !important;
  padding: 0px;
  width: 40px;
}

.contact-options {
  width: 40px;
  text-align: center;
}

.profile-img {
  width: 47px !important;
  height: 47px !important;
  border-radius: 50% !important;
}

.chat-profile {
  background-color: #212529;
  color: aliceblue;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
  margin-top: -40px !important;
  padding-top: 0px !important;
}

.profile-name {
  width: calc(100% - 50px);
  text-align: left;
  margin-left: 30px;
  overflow-x: hidden;
}

.chat {
  height: calc(100% - 100px);
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.send-message-box {
  min-height: 50px;
  height: 66px !important;
  width: auto;
  background-color: #212529;
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
}

.send-message-button {
  height: 100%;
  height: 50px;
  width: 100%;
  max-width: 80px;
  margin-left: 10px !important;

}

.message-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#chat-col {
  height: 88vh !important;
  min-width: 300px;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

#rooms {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-color: #212529;
  border-radius: 5px;
  height: 88vh !important;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#rooms::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.apr-mx-442p {
  visibility: hidden !important;
  display: none !important;
}

.message-textarea {
  width: 100%;
  min-width: 1em;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: antiquewhite;
  height: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  resize: none !important;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding-left: 7px;
  border-radius: 5px !important;
}

.message-textarea::-webkit-scrollbar {
  display: none;
}

.message-textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.user-message {
  width: auto;
  float: left !important;
}

.contact-message {
  width: auto;
  float: right !important;
}

#no-chat-active {
  height: calc(100% - 100px);
  width: 100%;

}

.profile-placeholder {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #0e3256;
}

@media only screen and (max-width: 640px) {
  .dispr-mx-442p {
    visibility: hidden;
    display: none;
  }

  .apr-mx-442p {
    visibility: visible !important;
    display: block !important;
  }
}