.nav-list {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  padding-top: 10px;
}

.nav-li {
  list-style-type: none;
  text-align: center;
}

.circle-icon {
  background: #ffc0c0;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  text-align: center;
  line-height: 0px;
  vertical-align: middle;
  padding: -5px;
  margin-left: 10px;
}

.profile-img {
  width: 47px !important;
  height: 47px !important;
  border-radius: 50% !important;
}

#notifications-popup {
  height: 360px;
  width: 280px;
  border-width: 5px;
  border-bottom-width: 20px;
}

#chat {
  height: 82%;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#chat-profile {
  background-color: #212529;
  color: aliceblue;
  height: 5%;
  height: 5%;
  border-radius: 5px 5px 0px 0px;
}

#send-message-box {
  min-height: 50px;
  width: auto;
  background-color: #212529;
  border-radius: 0px 0px 5px 5px;
}


#send-message-button {}

.message-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#chat-col {
  height: 88vh !important;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chat::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

#rooms {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-color: #212529;
  border-radius: 5px;
  height: 88vh !important;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#rooms::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.apr-mx-442p {
  visibility: hidden !important;
  display: none !important;
}

@media only screen and (max-width: 640px) {
  .dispr-mx-442p {
    visibility: hidden !important;
    display: none !important;
  }

  .apr-mx-442p {
    visibility: visible !important;
    display: block !important;
  }
}

@media only screen and (max-width: 640px) {
}












*,
*::before,
*::after {
  box-sizing: border-box;
}

.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  padding: 0.5em;
}

.input-sizer.stacked {
  padding: 0.5em;
  align-items: stretch;
}

.input-sizer.stacked::after,
.input-sizer.stacked input,
.input-sizer.stacked textarea {
  grid-area: 2/1;
}

.input-sizer::after,
.input-sizer input,
.input-sizer textarea {
  height: 100%;
  width: 100%;
  min-width: 1em;
  grid-area: 1/2;
  font: inherit;
  padding: 0.25em;
  margin: 0;
  resize: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: antiquewhite;
}

.input-sizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}