  #register {
    background-color: #7475c2;
    background-image: linear-gradient(to bottom right, #a1a1df, #9ac0d8, #b4a6d8, #939fe4, #a4a4eb, #9ea6e6);
    height: 80%;
    width: 100%;
    font-size: 18px;
  }

  .registration-form {
    border-radius: 15px;
    background-color: rgb(255, 255, 255) !important;
    max-width: 800px;
  }

  .profile-input {
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: rgb(240, 245, 244) !important;
    height: 40px !important;
    min-width: 150px !important;
  }

  #profile-image {
    font-size: 15px;
    font-family: calibri;
    width: 100%;
    padding: 4px;
    cursor: pointer;
  }

  .popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40%;
    min-width: 300px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    border-width: 10px;
  }

  #email-popup-submit {
    margin-bottom: 20px;
  }

  #email-popup {
    max-width: 300px !important;
    -webkit-box-shadow: 0px 7px 49px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 7px 49px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 7px 49px 0px rgba(0, 0, 0, 1);
  }

  @media screen and (max-width: 48px) {
    .popup {
      width: 80%;
      height: 45%;
    }
  }

  @media screen and (max-width: 300px) {
    .popup {
      width: 80%;
      height: 50%;
      padding: 0px;
    }

  }