.bg-wht {
    background-color: rgb(255, 255, 255)
}

.w-20p {
    width: 20px !important;
}

.w-100p {
    width: 100px;
}

.w-130p {
    width: 130px;
}

.mn-w-130p-i {
    min-width: 130px;
}

.mn-w-150p {
    width: 150px;
}

.p-3p {
    padding: 3px;
}

.h-40p {
    height: 40px;
}

.h-50p {
    height: 50px;
}

.h-auto {
    height: auto;
}


.pl-5p {
    padding-left: 5px;
}

.mn-w-152p {
    min-width: 152px;
}

.mn-h-46p {
    min-height: 48px;
}

.fs-12p {
    font-size: 12px !important;
}

.fs-15pi {
    font-size: 15px !important;
}

.fs-15p {
    font-size: 15px !important;
}

.text-hover:hover {
    transition: all 100ms linear;
    opacity: 0.6;
    font-size: 1.3rem;
}

.w-255p {
    width: 255px;
}

.custom-rounded {
    border-radius: 1px;
}

.custom-shadow {
    box-shadow: 0px 0px 10px #0000005e;
}

.center {
    text-align: center;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.center-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mn-w-300p {
    min-width: 300px;
}


.mx-w-1000p {
    max-width: 1000px;
}

.w-90 {
    width: 90%;
}

.h-20p {
    height: 20px;
}

.float-righti {
    float: right !important;
}

.bg-black {
    background-color: black;
}

.h-40p {
    height: 40px;
}

.h-40pi {
    height: 40px !important;
}

.fs-20p {
    font-size: 20px;
}

.fs-30p {
    font-size: 30px;
}

.w-100p {
    width: 100px;
}

.clr-wht {
    color: white
}

.hidden {
    display: none !important;
}


.float-right {
    float: right;
}

.mn-w-180pi {
    min-width: 165px !important;
}

.sans-serif {
    font-family: sans-serif;
}

.mt--100p {
    margin-top: 100px;
}

.float-left {
    float: left;
}

.pl-15p {
    padding-left: 15px;
}

.pr-15p {
    padding-right: 15px;
}

.float-righti {
    float: right !important;
}

.w-calc-100-120pi {
    width: calc(100% - 120px) !important;
}

.ml-10pi {
    margin-left: 10px !important;
}

.w-50p {
    width: 50px;

}

.vert-align-top {
    vertical-align: top;
}

.h-40pi {
    height: 40p !important;
}

.mt--10p {
    margin-top: -10px;
}

.w-50p {
    width: 50px;
}

.display-nonei {
    display: none !important;
}

.ml-5p {
    margin-left: 5px;
}

.mr-5p {
    margin-right: 5px;
}

.display-none {
    display: none;
}


.clr-gold {
    color: gold;

}

.mt-5pi {
    margin-top: 5px !important;
}

.pr-3p {
    padding-right: 3px;
}

.h-50vh {
    height: 50vh;
}

.bg-beige {
    background-color: beige;
}

.bg-white {
    background-color: white;
}

.mm-w-300p {
    min-width: 300px;
}

.mx-w-1000p {
    max-width: 1000px;
}


.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}

.w-120pi {
    width: 120px !important;
}

.w-100pi {
    width: 100px !important;
}

.fs-15pi {
    font-size: 15px !important;
}

.w-130pi {
    width: 130px !important;
}

.mn-w-150p {
    min-width: 150px;
}

.h-50p {
    height: 50px;
}

.mn-w-130pi {
    min-width: 130px !important;
}

.mn-w-135pi {
    min-width: 135px !important;

}

.vertical-align-middle {
    vertical-align: middle;
}

.vert-align-top {
    vertical-align: top;
}

.display-blocki {
    display: block !important;
}

.visibility-visiblei {
    visibility: visible !important;
}

.display-inline {
    display: inline;
}

.display-inlinei {
    display: inline !important;
}



.pr-20pi {
    margin-right: 20px !important;
}

.m-4em {
    margin: 4em;
}

.w-80 {
    width: 100%;
}

.bg-eee {
    background-color: #eee;
}

.mt--30p {
    margin-top: -30px;
}

.w-220p {
    width: 220px;
}

.color-f2f2f2 {
    color: #f2f2f2;
}

.clr-f2f2f2 {
    color: #f2f2f2;
}

.pl-10p {
    padding-left: 10px;
}

.h-0p {
    height: 0px;
}

.w-0p {
    width: 0px;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-hiddeni {
    overflow: hidden !important;
}

.position-absolutei {
    position: absolute !important;
}

.position-absolute {
    position: absolute;
}

.mr-200p {
    margin-right: 200px;
}

.mb--17p {
    margin-bottom: -17px;
}

.mn-h-255pi {
    min-height: 255px !important;
}

.mn-h-225p {
    min-height: 225px;
}

.h-104-5p {
    height: 104.5;
}

.mn-h-225pi {
    min-height: 225px !important;
}



.pt-10p {
    padding-top: 10px;
}

.w-240pi {
    width: 240px !important;
}

.mt-1pi {
    margin-top: 1px !important;
}

.h-max-content {
    height: max-content;
}

.mr-320p {
    margin-right: 320px
}

.mb-20p {
    margin-bottom: 20px;
}

.mt-20p {
    margin-top: 20px;
}

.m-5p {
    margin: 5px;
}

.mb--20p {
    margin-bottom: -20px;
}

.h-107pi {
    height: 107px !important;
}

.w-200pi {
    width: 200px !important;
}

.position-fixed {
    position: fixed;
}

.text-align-centeri {
    text-align: center !important;
}


.text-align-center {
    text-align: center;
}
.br-5p {
    border-radius: 5px;
}

.w-fit-content {
    width: fit-content;
}

.bg-635bff {
    background: #635bff;
}

.clr-white {
    color: white;
}

.w-211p {
    width: 211px;
}

.h-46p {
    height: 46px;
}

.br-40p {
    border-radius: 40px;
}

.fw-500 {
    font-weight: 500;
}

.fs-16p {
    font-size: 16px;
}

.h-30p {
    height: 30px;
}

.w-30p {
    width: 30px;
}

.fs-30p {
    font-size: 30px;
}

.pt-5p {
    padding-top: 5px;
}

.bg-i-profile-img {
    background-image: url("/profile/img");
}

.bg-r-no-repeat {
    background-repeat: no-repeat;
}

.bg-s-cover {
    background-size: cover;
}

.mt--2pi {
    margin-top: -2px !important;
}

.ml--2pi {
    margin-left: -2px !important;
}

.h-228pi {
    height: 228px !important;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.w-80pi {
    width: 80px;
}

.h-230pi {
    height: 230px !important;
}

.w-60pi {
    width: 60px !important;
}

.h-60pi {
    height: 60px !important;
}

.p-15p {
    padding: 15px;
}

.ml-60 {
    margin-left: 60%;
}

.display-inline-flex {
    display: inline-flex;
}

.w-28p {
    width: 28px;
}

.fw-700 {
    font-weight: 700;
}

.p-0pi {
    padding: 0px !important;
}

.h-10 {
    height: 10%;
}

.w-20 {
    width: 20%;
}

.fs-18p {
    font-size: 18px;
}

.w-40p {
    width: 40px;
}

.mt--20pi {
    margin-top: -20px !important;
}

.mb--50p {
    margin-bottom: -50px;
}

.mb--50pi {
    margin-bottom: -50px !important;
}

.mt-0pi {
    margin-top: 0px !important;
}

.h-92vh {
    height: 92vh;
}

.clr-rgb-2-25-31 {
    color: rgb(2, 25, 31);
}

.text-shadow-1p-1p-rgb-179-178-194 {
    text-shadow: 1px 1px rgb(179, 178, 194);
}

.mt-100p {
    margin-top: 100px;
}

.text-align-left {
    text-align: left;
}

.ml-10i {
    margin-left: 10%;
}

.mx-w-745p {
    max-width: 745px;
}

.w-60i {
    width: 60% !important;
}

.mt-10 {
    margin-top: 10%;
}

.mt-0pi {
    margin-top: 0px !important;
}

.h-60vh {
    height: 60vh;
}

.mb--30pi {
    margin-bottom: -30pi;
}

.ml-autoi {
    margin-left: auto !important;
}

.w-50pi {
    width: 50px !important;
}

.h-50pi {
    height: 50px !important;
}

.m-10p {
    margin: 10px;
}

.h-100vh {
    height: 90vh;
}

.w-240p {
    width: 240px;
}

.mn-w-270p {
    min-width: 270px;
}

.ml-5pi {
    margin-left: 5px !important;
}

.mr-5pi {
    margin-right: 5px !important;
}

.pl-20p {
    padding-left: 20px;
}

.pr-20p {
    padding-right: 20px;
}

.invisible-clear-inner {
    background: rgba(0, 0, 0, 0)
}

.p-5p {
    padding: 5px;
}

.bg-aqua {
    background-color: aqua;
}

.position-absolute {
    position: absolute;
}

.screen-notification {
    border-radius: 40px;
    background-color: aqua;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.position-fixed {
    position: fixed;
}

.top-80 {
    top: 80%;
}

.w-300p {
    width: 300px;
}
